# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

MotionDesign/KinnPitch.mp4
# ou mieux
*.mp4

dist
tmp
out-tsc
bazel-out

node_modules
# Node
/node_modules
node_modules
/Homeport/node_modules
/Homeport/.angular
/API/node_modules

/API/.env
API/.env
Homeport/.angular/

npm-debug.log
yarn-error.log

.angular
.angular/

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
Homeport/.angular/
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

.env

# File storage
/API/data/

# System files
.DS_Store
Thumbs.db

