{
    "swagger": "2.0",
    "info": {
        "version": "v3",
        "title": "Welcome to the Atera API",
        "description": "",
        "termsOfService": "https://www.atera.com/terms-of-use/"
    },
    "host": "app.atera.com",
    "schemes": [
        "https"
    ],
    "paths": {
        "/api/v3/account": {
            "get": {
                "tags": [
                    "Account"
                ],
                "operationId": "Account_GetAccountInfo",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/AccountDTO"
                        }
                    }
                }
            }
        },
        "/api/v3/agents": {
            "get": {
                "tags": [
                    "Agent"
                ],
                "summary": "Find agents",
                "description": "Returns a list of agents.\r\n<br /> \r\nPlease note that the property 'LastPatchManagementReceived' is no longer supported and will return a null reference.",
                "operationId": "Agent_Get",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json"
                ],
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Optional - Page index, based on items per page (default is 1)",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "itemsInPage",
                        "in": "query",
                        "description": "Optional - Number of items per page (default is 20, max is 50)",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/APIResultWrapper[AgentQueryDTO]"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/api/v3/agents/customer/{customerId}": {
            "get": {
                "tags": [
                    "Agent"
                ],
                "summary": "Find agents for specified customer",
                "description": "Returns agents for a specified customer. Requires the customer ID.\r\n<br /> \r\nPlease note that the property 'LastPatchManagementReceived' is no longer supported and will return a null reference.",
                "operationId": "Agent_GetByCustomer",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json"
                ],
                "parameters": [
                    {
                        "name": "customerId",
                        "in": "path",
                        "description": "Required - Customer ID",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Optional - Page index, based on items per page (default is 1)",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "itemsInPage",
                        "in": "query",
                        "description": "Optional - Number of items per page (default is 20, max is 50)",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/APIResultWrapper[AgentQueryDTO]"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/api/v3/agents/{agentId}": {
            "get": {
                "tags": [
                    "Agent"
                ],
                "summary": "Get specified agent",
                "description": "Returns an agent. Requires the agent ID.\r\n<br /> \r\nPlease note that the property 'LastPatchManagementReceived' is no longer supported and will return a null reference.",
                "operationId": "Agent_AgentQueryDTO",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "agentId",
                        "in": "path",
                        "description": "Required - System agent ID",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/AgentQueryDTO"
                        },
                        "examples": {
                            "application/json": {
                                "AgentID": 12,
                                "DeviceGuid": "5369e175-05fa-4a6d-a06b-1683654eb7da",
                                "FolderID": 1,
                                "FolderName": "Default Folder",
                                "CustomerID": 1,
                                "CustomerName": "Default Customer",
                                "AgentName": "WINDOWS10",
                                "SystemName": "WINDOWS10",
                                "MachineName": "WINDOWS10",
                                "DomainName": "Workgroup",
                                "CurrentLoggedUsers": "User",
                                "ComputerDescription": "System",
                                "Monitored": false,
                                "Created": "2026-02-05T18:08:23.7609614Z",
                                "Modified": "2026-02-06T16:08:23.7609614Z",
                                "Online": true,
                                "LastSeen": "2026-02-06T18:08:23.7609614Z",
                                "AppViewUrl": "https://app.atera.com/Admin#/rmm/device/5369e175-05fa-4a6d-a06b-1683654eb7da/agent",
                                "Motherboard": "ATI SB450",
                                "Processor": "Intel(R) Celeron(R) M processor 1.60GHz",
                                "Memory": 512,
                                "SystemDrive": "C",
                                "ProcessorClock": "1.59",
                                "BiosManufacturer": "American Megatrends Inc.",
                                "BiosVersion": "Ver: 09.02",
                                "BiosReleaseDate": "2026-01-07T18:08:23.7609614Z",
                                "MacAddresses": [
                                    "00:AA:11:BB:22:CC"
                                ],
                                "IpAddresses": [
                                    "10.0.0.1"
                                ],
                                "BatteryInfo": {
                                    "Id": 1,
                                    "Name": "DELL CF5RH0A",
                                    "BatteryHealth": 80.0,
                                    "DesignedCapacity": 40005,
                                    "FullChargeCapacity": 31961,
                                    "CycleCount": 0
                                },
                                "OS": "Microsoft Windows 10",
                                "Office": "Microsoft Office 365 ProPlus",
                                "LastRebootTime": "2026-02-06T17:38:23.7609614Z",
                                "OSVersion": "1803",
                                "OSBuild": "17134.165",
                                "OfficeFullVersion": "16.0.8431.2270",
                                "LastLoginUser": "User"
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Agent"
                ],
                "summary": "Delete specified agent",
                "description": "Deletes an agent. Requires the agent ID.",
                "operationId": "Agent_Delete",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "agentId",
                        "in": "path",
                        "description": "Required - System agent ID",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content",
                        "schema": {
                            "type": "object"
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/api/v3/agents/machine/{machineName}": {
            "get": {
                "tags": [
                    "Agent"
                ],
                "summary": "Get agents for specified machine.",
                "description": "Returns agents installed on a specified machine. Requires the machine name.\r\n<br /> \r\nPlease note that the property 'LastPatchManagementReceived' is no longer supported and will return a null reference.",
                "operationId": "Agent_GetAgentsByMachineName",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json"
                ],
                "parameters": [
                    {
                        "name": "machineName",
                        "in": "path",
                        "description": "Required - System machine name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Optional - Page index (based on items per page)",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "itemsInPage",
                        "in": "query",
                        "description": "Optional - Number of items per page. Default is 20",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/APIResultWrapper[AgentQueryDTO]"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/api/v3/agents/{deviceGuid}/installed-patches": {
            "get": {
                "tags": [
                    "Agent"
                ],
                "summary": "Get installed patches for specified agent.",
                "description": "Returns the installed patches on the agent. Requires the Device guid.",
                "operationId": "Agent_GetAgentInstalledUpdates",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "deviceGuid",
                        "in": "path",
                        "description": "Required - Device guid",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/AgentInstalledUpdates"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/api/v3/agents/{deviceGuid}/available-patches": {
            "get": {
                "tags": [
                    "Agent"
                ],
                "summary": "Get available patches for specified agent.",
                "description": "Returns the available patches on the agent. Requires the Device guid.",
                "operationId": "Agent_GetAgentAvailableUpdates",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "deviceGuid",
                        "in": "path",
                        "description": "Required - Device guid",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/AgentAvailableUpdates"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/api/v3/alerts": {
            "get": {
                "tags": [
                    "Alert"
                ],
                "summary": "Find alerts",
                "description": "Returns a list of alerts.",
                "operationId": "Alert_Get",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json"
                ],
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Optional - Page index, based on items per page (default is 20)",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "itemsInPage",
                        "in": "query",
                        "description": "Optional - Number of items per page (default is 20)",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "alertStatus",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "enum": [
                            "Open",
                            "Resolved",
                            "Snoozed"
                        ]
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/APIResultWrapper[AlertQueryDTO]"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            },
            "post": {
                "tags": [
                    "Alert"
                ],
                "summary": "Create alert",
                "description": "Creates a new alert. Requires the device's global unique identifier (GUID).",
                "operationId": "Alert_Post",
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json"
                ],
                "parameters": [
                    {
                        "name": "alert",
                        "in": "body",
                        "description": "Required - System alert object",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/CreateAlertDTO"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created"
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/api/v3/alerts/{alertId}": {
            "get": {
                "tags": [
                    "Alert"
                ],
                "summary": "Find specified alert",
                "description": "Returns an alert. Requires the alert ID.",
                "operationId": "Alert_Get",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "alertId",
                        "in": "path",
                        "description": "Required - System alert ID",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created",
                        "schema": {
                            "$ref": "#/definitions/AlertQueryDTO"
                        },
                        "examples": {
                            "application/json": {
                                "AlertID": 255,
                                "Source": "API",
                                "Title": "New alert title",
                                "Severity": 2,
                                "Created": "2026-02-06T18:08:23.7765918Z",
                                "ThresholdValue1": "50",
                                "DeviceGuid": "5369e175-05fa-4a6d-a06b-1683654eb7da",
                                "AgentId": 14,
                                "Archived": false,
                                "AlertCategoryID": 1,
                                "TicketID": 10244,
                                "AlertMessage": "Alert was fired",
                                "DeviceName": "Server-020DC",
                                "CustomerID": 12,
                                "CustomerName": "Default Customer",
                                "MessageTemplate": "Alert was fired"
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            },
            "put": {
                "tags": [
                    "Alert"
                ],
                "summary": "Resolve specified alert",
                "description": "Resolve a specified alert. Requires the alert ID.",
                "operationId": "Alert_ResolveAlert",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "alertId",
                        "in": "path",
                        "description": "Required - System alert ID",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content",
                        "schema": {
                            "type": "object"
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Alert"
                ],
                "summary": "Delete specified alert",
                "description": "Deletes a specified alert. Requires the alert ID.",
                "operationId": "Alert_Delete",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "alertId",
                        "in": "path",
                        "description": "Required - System alert ID",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content",
                        "schema": {
                            "type": "object"
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/api/v3/billing/invoices": {
            "get": {
                "tags": [
                    "Billing"
                ],
                "summary": "Find invoices",
                "description": "Returns a list of invoices.",
                "operationId": "Billing_Get",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json"
                ],
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Optional - Page index, based on items per page (default is 1)",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "itemsInPage",
                        "in": "query",
                        "description": "Optional - Number of items per page (default is 20, max is 50)",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/APIResultWrapper[InvoiceQueryDTO]"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/api/v3/billing/invoice/{invoiceNumber}": {
            "get": {
                "tags": [
                    "Billing"
                ],
                "summary": "Find specified invoice",
                "description": "Returns a specified invoice. Requires the invoice number.",
                "operationId": "Billing_InvoiceQueryDTO",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "invoiceNumber",
                        "in": "path",
                        "description": "Required - System invoice number",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/InvoiceQueryDTO"
                        },
                        "examples": {
                            "application/json": {
                                "IsAdhoc": false,
                                "InvoiceId": "5369e175-05fa-4a6d-a06b-1683654eb7da",
                                "InvoiceNumber": 123,
                                "InvoiceNumberAsString": "00000123",
                                "Total": 200.0,
                                "Subtotal": 200.0,
                                "Tax": 0.0,
                                "TaxPercentage": 0.0,
                                "InvoiceDate": "2026-02-06T18:08:23.7765918Z",
                                "ContractName": "Example Contract",
                                "PeriodStartDate": "2026-02-05T18:08:23.7765918Z",
                                "PeriodEndDate": "2026-02-07T18:08:23.7765918Z",
                                "Currency": "$",
                                "LineItems": [
                                    {
                                        "Product": "Example Product",
                                        "Description": "Example Description",
                                        "Quantity": 1.0,
                                        "Rate": 200.0,
                                        "TaxPercentage": 0.0,
                                        "DiscountPercentage": 0.0,
                                        "Total": 200.0,
                                        "Subtotal": 200.0,
                                        "Tax": 0.0,
                                        "LineIdx": 1
                                    }
                                ],
                                "From": {
                                    "CompanyName": "Example From Customer",
                                    "ContactFirstName": "John",
                                    "ContactLastName": "Smith",
                                    "ContactFullName": "John"
                                },
                                "To": {
                                    "CompanyName": "Example To Customer",
                                    "ContactFirstName": "George",
                                    "ContactLastName": "Michael",
                                    "ContactFullName": "George"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/api/v3/contacts": {
            "get": {
                "tags": [
                    "Contact"
                ],
                "summary": "Find Contacts",
                "description": "Accepts whole or partial emails / phone numbers. If partial, will return all contacts whose emails / phone numbers contain the input string.\r\n<br />\r\nReturn Contact List",
                "operationId": "Contact_Get",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json"
                ],
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Optional - Page index (default is 1), based on items per page",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "itemsInPage",
                        "in": "query",
                        "description": "Optional - Number of items per page (default is 20, max is 50)",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "searchOptions.email",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "searchOptions.phone",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/APIResultWrapper[ContactQueryDTO]"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            },
            "post": {
                "tags": [
                    "Contact"
                ],
                "summary": "Create contact",
                "description": "Creates a new contact for an existing customer. Requires the customer ID or the customer name.",
                "operationId": "Contact_Post",
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json"
                ],
                "parameters": [
                    {
                        "name": "contact",
                        "in": "body",
                        "description": "Required - System Contact Object",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/CreateContactDTO"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created"
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/api/v3/contacts/{contactId}": {
            "get": {
                "tags": [
                    "Contact"
                ],
                "summary": "Find specified contact",
                "description": "Returns the specified contact. Requires the contact ID.",
                "operationId": "Contact_Get",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "contactId",
                        "in": "path",
                        "description": "Required - System Contact ID",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ContactQueryDTO"
                        },
                        "examples": {
                            "application/json": {
                                "EndUserID": 54,
                                "CustomerID": 12,
                                "CustomerName": "Default Customer",
                                "Firstname": "John",
                                "Lastname": "Smith",
                                "JobTitle": "CTO",
                                "Email": "support@customer.com",
                                "Phone": "3-656-1213",
                                "IsContactPerson": true,
                                "InIgnoreMode": false,
                                "CreatedOn": "2026-02-06T18:08:23.7765918Z",
                                "LastModified": "2026-02-06T18:08:23.7765918Z",
                                "Archived": false
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            },
            "put": {
                "tags": [
                    "Contact"
                ],
                "summary": "Update specified contact",
                "description": "Updates an existing contact. Requires the contact ID.\r\n<br /><br /> \r\nThe following fields are editable:\r\n<br /><br /> \r\nFirst Name (Firstname)\r\n<br />\r\nLast Name (Lastname)\r\n<br /> \r\nJob Title (JobTitle)\r\n<br />\r\nIs Contact Person (IsContactPerson)\r\n<br />\r\nIn Ignore Mode (InIgnoreMode)\r\n<br />\r\nPhone (Phone)",
                "operationId": "Contact_Put",
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json"
                ],
                "parameters": [
                    {
                        "name": "contactId",
                        "in": "path",
                        "description": "Required - System Contact ID",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "contact",
                        "in": "body",
                        "description": "Required - System Contact Object",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/UpdateContactDTO"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Result"
                        },
                        "examples": {
                            "application/json": {
                                "ActionID": "1"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            },
            "post": {
                "tags": [
                    "Contact"
                ],
                "summary": "Update specified contact",
                "description": "Updates an existing contact. Requires the contact ID.\r\n<br /><br /> \r\nThe following fields are editable:\r\n<br /><br /> \r\nFirst Name (Firstname)\r\n<br />\r\nLast Name (Lastname)\r\n<br /> \r\nJob Title (JobTitle)\r\n<br />\r\nIs Contact Person (IsContactPerson)\r\n<br />\r\nIn Ignore Mode (InIgnoreMode)\r\n<br />\r\nPhone (Phone)",
                "operationId": "Contact_Put",
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json"
                ],
                "parameters": [
                    {
                        "name": "contactId",
                        "in": "path",
                        "description": "Required - System Contact ID",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "contact",
                        "in": "body",
                        "description": "Required - System Contact Object",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/UpdateContactDTO"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Result"
                        },
                        "examples": {
                            "application/json": {
                                "ActionID": "1"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Contact"
                ],
                "summary": "Delete specified contact",
                "description": "Deletes the contact. Requires the contact ID.",
                "operationId": "Contact_Delete",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "contactId",
                        "in": "path",
                        "description": "Required - System Contact ID",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content",
                        "schema": {
                            "type": "object"
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/api/v3/contracts": {
            "get": {
                "tags": [
                    "Contracts"
                ],
                "summary": "Find contracts",
                "description": "Returns a list of contracts.",
                "operationId": "Contracts_Get",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json"
                ],
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Optional - Page index, based on items per page (default is 1)",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "itemsInPage",
                        "in": "query",
                        "description": "Optional - Number of items per page (default is 20, max is 50)",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/APIResultWrapper[ContractQueryDTO]"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            },
            "post": {
                "tags": [
                    "Contracts"
                ],
                "summary": "Create Contract",
                "description": "Creates a new customer. Requires the customer name.",
                "operationId": "Contracts_Post",
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json"
                ],
                "parameters": [
                    {
                        "name": "contract",
                        "in": "body",
                        "description": "Required",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/CreateContractDTO"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created"
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/api/v3/contracts/customer/{customerId}": {
            "get": {
                "tags": [
                    "Contracts"
                ],
                "summary": "Find contracts for specified customer",
                "description": "Returns a list of contracts. Requires the customer ID.",
                "operationId": "Contracts_GetByCustomer",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json"
                ],
                "parameters": [
                    {
                        "name": "customerId",
                        "in": "path",
                        "description": "Required - System customer ID",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Optional - Page index, based on items per page (default is 1)",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "itemsInPage",
                        "in": "query",
                        "description": "Optional - Number of items per page (default is 20, max is 50)",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/APIResultWrapper[ContractQueryDTO]"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/api/v3/contracts/{contractId}": {
            "get": {
                "tags": [
                    "Contracts"
                ],
                "summary": "Find specified contract",
                "description": "Returns a specified contract. Requires the contract ID.",
                "operationId": "Contracts_ContractQueryDTO",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "contractId",
                        "in": "path",
                        "description": "Required. System contract ID",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ContractQueryDTO"
                        },
                        "examples": {
                            "application/json": {
                                "CustomerID": 12,
                                "CustomerName": "Default Customer",
                                "ContractID": 5,
                                "ContractName": "Default Contract",
                                "ContractType": 1,
                                "Active": true,
                                "Default": true,
                                "Taxable": false,
                                "StartDate": "2026-02-06T18:08:23.7765918Z",
                                "EndDate": "2029-02-06T18:08:23.7765918Z",
                                "RetainerFlatFeeContract": {
                                    "Quantity": 1.0,
                                    "Rate": {
                                        "RateID": 1,
                                        "Amount": 100.0,
                                        "Description": "Default Rate"
                                    },
                                    "BillingPeriod": 4
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            },
            "put": {
                "tags": [
                    "Contracts"
                ],
                "summary": "Update Contract",
                "description": "Updates an existing contract. Requires the contract ID.",
                "operationId": "Contracts_UpdateContract",
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json"
                ],
                "parameters": [
                    {
                        "name": "contractId",
                        "in": "path",
                        "description": "Required. System contract ID",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "request",
                        "in": "body",
                        "description": "Required",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/UpdateContractDto"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content",
                        "schema": {
                            "$ref": "#/definitions/Result"
                        },
                        "examples": {
                            "application/json": {
                                "ActionID": "1"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            },
            "post": {
                "tags": [
                    "Contracts"
                ],
                "summary": "Update Contract",
                "description": "Updates an existing contract. Requires the contract ID.",
                "operationId": "Contracts_UpdateContract",
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json"
                ],
                "parameters": [
                    {
                        "name": "contractId",
                        "in": "path",
                        "description": "Required. System contract ID",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "request",
                        "in": "body",
                        "description": "Required",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/UpdateContractDto"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content",
                        "schema": {
                            "$ref": "#/definitions/Result"
                        },
                        "examples": {
                            "application/json": {
                                "ActionID": "1"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/api/v3/customers": {
            "get": {
                "tags": [
                    "Customer"
                ],
                "summary": "Find Customers",
                "description": "Returns a list of customers.",
                "operationId": "Customer_Get",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json"
                ],
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Optional - Page index, based on items per page (default is 1)",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "itemsInPage",
                        "in": "query",
                        "description": "Optional - Number of items per page (default is 20, max is 50)",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/APIResultWrapper[CustomerQueryDTO]"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            },
            "post": {
                "tags": [
                    "Customer"
                ],
                "summary": "Create Customer",
                "description": "Creates a new customer. Requires the customer name.",
                "operationId": "Customer_Post",
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json"
                ],
                "parameters": [
                    {
                        "name": "customer",
                        "in": "body",
                        "description": "Required",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/CreateCustomerDTO"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created"
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/api/v3/customers/{customerId}": {
            "get": {
                "tags": [
                    "Customer"
                ],
                "summary": "Find specified customer",
                "description": "Returns a specified customer. Requires the customer ID.",
                "operationId": "Customer_Get",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "customerId",
                        "in": "path",
                        "description": "Required",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/CustomerQueryDTO"
                        },
                        "examples": {
                            "application/json": {
                                "CustomerID": 1,
                                "CustomerName": "Example Customer",
                                "CreatedOn": "2026-02-06T18:08:23.7922189Z",
                                "LastModified": "2026-02-06T18:08:23.7922189Z",
                                "BusinessNumber": "BN12345",
                                "Domain": "exampledomain.com",
                                "Address": "Main street 10",
                                "City": "New York City",
                                "State": "New York",
                                "Country": "United States",
                                "Phone": "3-659854875",
                                "Fax": "3-659854876",
                                "Notes": "Notes for new customer..",
                                "Links": "http://www.examplecustomer.com",
                                "Longitude": 45.0345345,
                                "Latitude": 45.0345345,
                                "ZipCodeStr": "5000CR"
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            },
            "put": {
                "tags": [
                    "Customer"
                ],
                "summary": "Update specified customer",
                "description": "Updates an existing customer. Requires the customer ID.\r\n<br /><br /> \r\nThe following fields are editable:\r\n<br /><br /> \r\nCustomer Name (CustomerName)\r\n<br />\r\nBusiness Number (BusinessNumber)\r\n<br /> \r\nDomain (Domain)\r\n<br />\r\nAddress (Address)\r\n<br />\r\nCity (City)\r\n<br />\r\nState (State)\r\n<br />\r\nCountry (Country)\r\n<br />\r\nPhone (Phone)\r\n<br />\r\nFax (Fax)\r\n<br />\r\nNotes (Notes)\r\n<br />\r\nLinks (Links)\r\n<br />\r\nLongitude (Longitude)\r\n<br />\r\nLatitude (Latitude)\r\n<br />\r\nZip Code (ZipCodeStr)",
                "operationId": "Customer_Put",
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json"
                ],
                "parameters": [
                    {
                        "name": "customerId",
                        "in": "path",
                        "description": "Required",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "customer",
                        "in": "body",
                        "description": "Required",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/UpdateCustomerDTO"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Result"
                        },
                        "examples": {
                            "application/json": {
                                "ActionID": "1"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            },
            "post": {
                "tags": [
                    "Customer"
                ],
                "summary": "Update specified customer",
                "description": "Updates an existing customer. Requires the customer ID.\r\n<br /><br /> \r\nThe following fields are editable:\r\n<br /><br /> \r\nCustomer Name (CustomerName)\r\n<br />\r\nBusiness Number (BusinessNumber)\r\n<br /> \r\nDomain (Domain)\r\n<br />\r\nAddress (Address)\r\n<br />\r\nCity (City)\r\n<br />\r\nState (State)\r\n<br />\r\nCountry (Country)\r\n<br />\r\nPhone (Phone)\r\n<br />\r\nFax (Fax)\r\n<br />\r\nNotes (Notes)\r\n<br />\r\nLinks (Links)\r\n<br />\r\nLongitude (Longitude)\r\n<br />\r\nLatitude (Latitude)\r\n<br />\r\nZip Code (ZipCodeStr)",
                "operationId": "Customer_Put",
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json"
                ],
                "parameters": [
                    {
                        "name": "customerId",
                        "in": "path",
                        "description": "Required",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "customer",
                        "in": "body",
                        "description": "Required",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/UpdateCustomerDTO"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Result"
                        },
                        "examples": {
                            "application/json": {
                                "ActionID": "1"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Customer"
                ],
                "summary": "Delete specified customer",
                "description": "Deletes a specified customer. Requires the customer ID.",
                "operationId": "Customer_Delete",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "customerId",
                        "in": "path",
                        "description": "Required",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content",
                        "schema": {
                            "type": "object"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/api/v3/customers/folders": {
            "post": {
                "tags": [
                    "Customer"
                ],
                "summary": "Create Customer Folder",
                "description": "Requires the folder name and customer ID.\r\nThreshold profile ID is optional; if not included, the folder will inherit the threshold profile applied to the customer, if applicable.",
                "operationId": "Customer_Post",
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json"
                ],
                "parameters": [
                    {
                        "name": "folder",
                        "in": "body",
                        "description": "Required",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/CreateCustomerFolderDTO"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created"
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/api/v3/customers/attachments": {
            "post": {
                "tags": [
                    "Customer"
                ],
                "summary": "Create Customer Attachment",
                "description": "Requires the customer ID and attachment name, including the file extension. Requires attachment to be represented in Base64 encoding.",
                "operationId": "Customer_Post",
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json"
                ],
                "parameters": [
                    {
                        "name": "attachment",
                        "in": "body",
                        "description": "Required",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/CreateCustomerAttachmentDTO"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created"
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/api/v3/customvalues/{rowId}": {
            "get": {
                "tags": [
                    "CustomValues"
                ],
                "summary": "Find custom field value",
                "description": "Returns a custom field value. Requires a custom value ID.",
                "operationId": "CustomValues_Get",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "rowId",
                        "in": "path",
                        "description": "Required - Custom Value ID",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/CustomValueQueryDTO"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/api/v3/customvalues/ticketfield/{ticketId}/{fieldName}": {
            "get": {
                "tags": [
                    "CustomValues"
                ],
                "summary": "Find custom field value for specified ticket",
                "description": "Returns a custom field value for a specified ticket. Requires a ticket ID and a custom field name.",
                "operationId": "CustomValues_GetTicketField",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "ticketId",
                        "in": "path",
                        "description": "Required - System Ticket ID",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "fieldName",
                        "in": "path",
                        "description": "Required - System custom field name",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/CustomValueQueryDTO"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            },
            "put": {
                "tags": [
                    "CustomValues"
                ],
                "summary": "Set custom field value for specified Ticket",
                "operationId": "CustomValues_SetTicketField",
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "ticketId",
                        "in": "path",
                        "description": "Required - System Ticket id",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "fieldName",
                        "in": "path",
                        "description": "Required - System custom field name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "value",
                        "in": "body",
                        "description": "Required - System custom value to set",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/SetCustomValueDTO"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/api/v3/customvalues/ticketfield/{ticketId}/{fieldName}/{value}": {
            "put": {
                "tags": [
                    "CustomValues"
                ],
                "summary": "Set custom field value for specified Ticket",
                "operationId": "CustomValues_SetTicketField",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "ticketId",
                        "in": "path",
                        "description": "Required - System Ticket id",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "fieldName",
                        "in": "path",
                        "description": "Required - System custom field name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "value",
                        "in": "path",
                        "description": "Required - System custom value to set",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                },
                "deprecated": true
            }
        },
        "/api/v3/customvalues/customerfield/{customerId}/{fieldName}": {
            "get": {
                "tags": [
                    "CustomValues"
                ],
                "summary": "Find custom field value for specified customer",
                "description": "Returns a custom field value for a specified customer. Requires a customer ID and custom field name.",
                "operationId": "CustomValues_GetCustomerField",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "customerId",
                        "in": "path",
                        "description": "Required - System Customer ID",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "fieldName",
                        "in": "path",
                        "description": "Required - System custom field name",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/CustomValueQueryDTO"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            },
            "put": {
                "tags": [
                    "CustomValues"
                ],
                "summary": "Set value of custom field for specified Customer",
                "operationId": "CustomValues_SetCustomerField",
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "customerId",
                        "in": "path",
                        "description": "Required - System Customer id",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "fieldName",
                        "in": "path",
                        "description": "Required - System custom field name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "value",
                        "in": "body",
                        "description": "Required - System custom value to set",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/SetCustomValueDTO"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/api/v3/customvalues/customerfield/{customerId}/{fieldName}/{value}": {
            "put": {
                "tags": [
                    "CustomValues"
                ],
                "summary": "Set value of custom field for specified Customer",
                "operationId": "CustomValues_SetCustomerField",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "customerId",
                        "in": "path",
                        "description": "Required - System Customer id",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "fieldName",
                        "in": "path",
                        "description": "Required - System custom field name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "value",
                        "in": "path",
                        "description": "Required - System custom value to set",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                },
                "deprecated": true
            }
        },
        "/api/v3/customvalues/contactfield/{contactId}/{fieldName}": {
            "get": {
                "tags": [
                    "CustomValues"
                ],
                "summary": "Find custom field value for specified contact",
                "description": "Returns a custom field value for a specified contact. Requires the contact ID and custom field name.",
                "operationId": "CustomValues_GetContactField",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "contactId",
                        "in": "path",
                        "description": "Required - System Contact ID",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "fieldName",
                        "in": "path",
                        "description": "Required - System custom field name",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/CustomValueQueryDTO"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            },
            "put": {
                "tags": [
                    "CustomValues"
                ],
                "summary": "Set value of custom field for specified Contact",
                "operationId": "CustomValues_SetContactField",
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "contactId",
                        "in": "path",
                        "description": "Required - System Contact id",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "fieldName",
                        "in": "path",
                        "description": "Required - System custom field name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "value",
                        "in": "body",
                        "description": "Required - System custom value to set",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/SetCustomValueDTO"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/api/v3/customvalues/contactfield/{contactId}/{fieldName}/{value}": {
            "put": {
                "tags": [
                    "CustomValues"
                ],
                "summary": "Set value of custom field for specified Contact",
                "operationId": "CustomValues_SetContactField",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "contactId",
                        "in": "path",
                        "description": "Required - System Contact id",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "fieldName",
                        "in": "path",
                        "description": "Required - System custom field name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "value",
                        "in": "path",
                        "description": "Required - System custom value to set",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                },
                "deprecated": true
            }
        },
        "/api/v3/customvalues/contractfield/{contractId}/{fieldName}": {
            "get": {
                "tags": [
                    "CustomValues"
                ],
                "summary": "Find custom field value for specified contract",
                "description": "Returns a custom field value for a specified contract. Requires the contract ID and custom field name.",
                "operationId": "CustomValues_GetContractField",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "contractId",
                        "in": "path",
                        "description": "Required - System contract ID",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "fieldName",
                        "in": "path",
                        "description": "Required - System custom field name",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/CustomValueQueryDTO"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            },
            "put": {
                "tags": [
                    "CustomValues"
                ],
                "summary": "Set value of custom field for specified Contract",
                "operationId": "CustomValues_SetContractField",
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "contractId",
                        "in": "path",
                        "description": "Required - System contract id",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "fieldName",
                        "in": "path",
                        "description": "Required - System custom field name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "value",
                        "in": "body",
                        "description": "Required - System custom value to set",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/SetCustomValueDTO"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/api/v3/customvalues/contractfield/{contractId}/{fieldName}/{value}": {
            "put": {
                "tags": [
                    "CustomValues"
                ],
                "summary": "Set value of custom field for specified Contract",
                "operationId": "CustomValues_SetContractField",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "contractId",
                        "in": "path",
                        "description": "Required - System contract id",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "fieldName",
                        "in": "path",
                        "description": "Required - System custom field name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "value",
                        "in": "path",
                        "description": "Required - System custom value to set",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                },
                "deprecated": true
            }
        },
        "/api/v3/customvalues/slafield/{slaId}/{fieldName}": {
            "get": {
                "tags": [
                    "CustomValues"
                ],
                "summary": "Find custom field value for specified SLA",
                "description": "Returns a custom field value for a specified SLA. Requires the SLA ID and custom field name.",
                "operationId": "CustomValues_GetSLAField",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "slaId",
                        "in": "path",
                        "description": "Required - System SLA ID",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "fieldName",
                        "in": "path",
                        "description": "Required - System Custom field name",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/CustomValueQueryDTO"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            },
            "put": {
                "tags": [
                    "CustomValues"
                ],
                "summary": "Set value of custom field for specified SLA",
                "operationId": "CustomValues_SetSLAField",
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "slaId",
                        "in": "path",
                        "description": "Required - System SLA id",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "fieldName",
                        "in": "path",
                        "description": "Required - System Custom field name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "value",
                        "in": "body",
                        "description": "Required - System custom value to set",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/SetCustomValueDTO"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/api/v3/customvalues/slafield/{slaId}/{fieldName}/{value}": {
            "put": {
                "tags": [
                    "CustomValues"
                ],
                "summary": "Set value of custom field for specified SLA",
[...]
