<div class="spacing" [formGroup]="group">
  <div class="frame margin">
    <div class="slot top">
      <label>margin-top</label>
      <div class="input"><nz-input-number formControlName="m_top" [nzMin]="0"></nz-input-number><span class="u">px</span></div>
    </div>
    <div class="slot left">
      <label class="w">margin-left</label>
      <div class="input"><nz-input-number formControlName="m_left" [nzMin]="0"></nz-input-number><span class="u">px</span></div>
    </div>
    <div class="box">content</div>
    <div class="slot right">
      <div class="input"><nz-input-number formControlName="m_right" [nzMin]="0"></nz-input-number><span class="u">px</span></div>
      <label class="w">margin-right</label>
    </div>
    <div class="slot bottom">
      <div class="input"><nz-input-number formControlName="m_bottom" [nzMin]="0"></nz-input-number><span class="u">px</span></div>
      <label>margin-bottom</label>
    </div>
  </div>

  <div class="frame padding">
    <div class="slot top">
      <label>padding-top</label>
      <div class="input"><nz-input-number formControlName="p_top" [nzMin]="0"></nz-input-number><span class="u">px</span></div>
    </div>
    <div class="slot left">
      <label class="w">padding-left</label>
      <div class="input"><nz-input-number formControlName="p_left" [nzMin]="0"></nz-input-number><span class="u">px</span></div>
    </div>
    <div class="box inner">padding</div>
    <div class="slot right">
      <div class="input"><nz-input-number formControlName="p_right" [nzMin]="0"></nz-input-number><span class="u">px</span></div>
      <label class="w">padding-right</label>
    </div>
    <div class="slot bottom">
      <div class="input"><nz-input-number formControlName="p_bottom" [nzMin]="0"></nz-input-number><span class="u">px</span></div>
      <label>padding-bottom</label>
    </div>
  </div>
</div>
